<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardSQL">
	<insert id="boardWrite" parameterType="Map">
		INSERT INTO board (SEQ, ID, NAME, EMAIL, SUBJECT, CONTENT, REF) 
		VALUES (seq_board.NEXTVAL, #{id}, #{name}, #{email}, #{subject}, #{content}, seq_board.CURRVAL)
	</insert>
	<select id="boardList" parameterType="Map" resultType="boardDTO">
	  <![CDATA[
		SELECT * FROM (
		SELECT ROWNUM rn, tt.* FROM (
		SELECT * FROM board ORDER BY ref DESC, step ASC
		) tt
		) WHERE rn >= #{startNum} AND rn <= #{endNum}
	  ]]>
	</select>
	<select id="getTotalA" resultType="Integer">
		SELECT COUNT(*) FROM BOARD
	</select>
	
	<select id="boardView" parameterType="Integer" resultType="boardDTO">
		SELECT SEQ, ID, SUBJECT, CONTENT, HIT, LOGTIME FROM BOARD WHERE SEQ = #{SEQ}
	</select>
	
	<delete id="boardDelete" parameterType="Integer">
		DELETE FROM BOARD WHERE SEQ = #{seq}		
	</delete>
	
	<update id="boardUpdate" parameterType="boardDTO">
		UPDATE BOARD SET SUBJECT = #{subject}, CONTENT = #{content} WHERE SEQ = #{seq}
	</update>
	
	<update id="boardHit" parameterType="Integer">
		UPDATE BOARD SET HIT = HIT + 1 WHERE SEQ = #{seq}
	</update>
</mapper>